$color_1: var(--white);
$color_2: var(--black);
$color_3: transparent;
$color_4: #666;
$color_5: #333;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: "Vollkorn", serif;
$font-family_3: "Signika Negative", sans-serif;
$font-family_4: "Playfair Display", serif;
$background-color_1: var(--black);
$background-color_2: transparent;
$background-color_3: var(--white);

/* Fonts */
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Poppins:wght@100;300;400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Signika+Negative:wght@300..700&display=swap";
/* Variables */
/* Global */
/* Hero section */
/* Image gallery */
/* Testimonials */
/* Text */
/* About */
/* Slider Image */
/* Footer */
/* Responsive layout */
:root {
	--black: #000;
	--white: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
	transition: all .2s linear;
}
body {
	background: var(--white);
	overflow-x: hidden;
	scroll-behavior: smooth;
}
html {
	background: var(--white);
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: .8rem 2rem;
	font-size: 1rem;
	border-radius: .5rem;
	background-color: $background-color_1;
	color: $color_1;
	cursor: pointer;
	text-transform: capitalize;
}
#hero {
	position: relative;
	height: 100vh;
	.navbar {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		z-index: 1000;
		padding: 2rem 10% 1rem 10%;
		background: transparent;
		color: $color_1;
		.container-fluid {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.navbar-brand {
				text-transform: uppercase;
				color: $color_1;
				font-size: 1.5rem;
			}
			.navbar-toggler {
				border: none;
				background-color: $background-color_2;
				color: $color_3;
				font-size: 2rem;
				padding: 0.5rem;
				cursor: pointer;
				outline: none;
				.navbar-toggler-icon {
					color: $color_1;
				}
			}
			.navbar-nav {
				margin-left: auto;
				justify-content: space-around;
				.nav-item {
					text-transform: uppercase;
					margin-left: 1rem;
					margin-right: 1rem;
					font-size: .8rem;
					a {
						color: $color_1;
						text-decoration: none;
						&:hover {
							color: $color_2;
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	.navbar.fixed {
		position: fixed;
		background: var(--white);
		.container-fluid {
			.navbar-brand {
				color: $color_2;
			}
			.navbar-nav {
				.nav-item {
					a {
						color: $color_2;
					}
				}
			}
		}
	}
	.hero-content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		.carousel {
			position: relative;
			width: 100%;
			.carousel-inner {
				.carousel-item {
					transition: opacity 1.5s ease-in-out;
					opacity: 1;
					img {
						background-position: 50% 50%;
						background-size: cover;
						height: 100vh;
						width: 100%;
					}
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.6);
					}
					.carousel-caption {
						h1 {
							position: absolute;
							top: -470px;
							left: -60px;
							font-family: $font-family_2;
							display: block;
							text-align: left;
							width: 35rem;
							font-size: 3.1rem;
							line-height: 4.5rem;
						}
						p {
							position: absolute;
							bottom: 5rem;
							right: 0;
							text-align: right;
						}
						button {
							position: absolute;
							left: 0;
							bottom: 6rem;
						}
					}
				}
				.carousel-item.active {
					opacity: 1;
				}
				hr {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 3rem;
					width: 80%;
					height: 4px;
					color: $color_1;
					border-width: 3px;
				}
			}
		}
	}
}
.carousel-item-next.carousel-item-left {
	opacity: 0;
}
.carousel-item-prev.carousel-item-right {
	opacity: 0;
}
.hero-content {
	.direction {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		a {
			margin: 0 0.5rem;
			color: $color_1;
			position: absolute;
			bottom: 1rem;
		}
		span {
			margin: 0 0.5rem;
			color: $color_1;
			position: absolute;
			bottom: 1rem;
		}
		.next {
			right: 10%;
		}
		.prev {
			left: 10%;
		}
	}
}
#gallery {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 4rem 20%;
	.container {
		.row {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			gap: 20px;
			.column {
				-ms-flex: 100%;
				flex: 100%;
				width: 100%;
				max-width: 100%;
				padding: 0 4px;
				img {
					margin-top: 8px;
					vertical-align: middle;
					width: 100%;
					opacity: 0;
					transition: opacity 2s ease;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
#testimonials {
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.content {
		flex: 1 1 100%;
		max-width: 500px;
		margin-bottom: 20px;
		h5 {
			text-transform: uppercase;
			color: $color_4;
			font-size: 0.9rem;
			white-space: 12px;
			padding-bottom: 2rem;
			font-family: $font-family_3;
		}
		p {
			margin-top: 2rem;
			color: $color_4;
			padding-bottom: 4.5rem;
			line-height: 1.8;
			width: 25rem;
		}
		h1 {
			font-size: 1.8rem;
			font-family: $font-family_4;
		}
	}
	.carousel {
		flex: 1 1 100%;
		max-width: 600px;
		.carousel-inner {
			margin-bottom: 3rem;
			.carousel-item {
				width: 100%;
				height: 250px;
				background-size: cover;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					background-position: center;
				}
			}
		}
		.test {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			.next-btn {
				color: $color_2;
			}
			.prev-btn {
				color: $color_2;
			}
		}
	}
}
#text {
	margin: 5rem auto;
	text-align: center;
	max-width: 60rem;
	h2 {
		padding: 2rem;
		margin-bottom: 2rem;
	}
	p {
		margin-top: 2rem;
	}
}
#about {
	padding: 5rem 10%;
	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		img {
			max-width: 100%;
			box-shadow: 10px 10px rgb(208, 210, 210);
		}
		.content {
			position: relative;
			h1 {
				margin: 2rem 0 4rem;
			}
			a {
				margin-top: 3rem;
			}
		}
	}
	.quote {
		p {
			margin: 10rem auto 2rem;
			max-width: 30rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 1.5rem;
			position: relative;
			i {
				position: absolute;
			}
			.fa-quote-left {
				top: -2rem;
				left: -1.6rem;
			}
			.fa-quote-right {
				bottom: -2rem;
				right: 7rem;
			}
		}
		span {
			font-family: $font-family_2;
			font-size: 1.2rem;
			display: flex;
			justify-content: right;
			align-items: right;
			width: 55rem;
			text-transform: uppercase;
		}
	}
}
#slider {
	padding-top: 4rem;
	.image-slider {
		.box {
			background: var(--white);
			transition: .2s linear;
			img {
				height: 20rem;
				width: 100%;
			}
		}
	}
	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		font-size: .8rem;
		a {
			text-decoration: none;
			color: $color_2;
			margin: 0 2rem;
		}
	}
}
#footer {
	margin-top: 4rem;
	padding: 2rem 10%;
	display: block;
	position: relative;
	.footer-menu {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		gap: 20px;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 3rem;
		a {
			color: $color_2;
			text-decoration: none;
			&:hover {
				color: $color_5;
				text-decoration: none;
			}
		}
	}
	hr {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 3rem;
		width: 80%;
		height: 4px;
		color: $color_2;
		border-width: 3px;
		padding-bottom: 2rem;
	}
	.copyright {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media (max-width: 991px) {
	#hero {
		.navbar {
			.container-fluid {
				.navbar-collapse {
					top: 90%;
					background-color: $background-color_1;
				}
			}
		}
		.navbar.fixed {
			.container-fluid {
				.navbar-collapse {
					top: 70%;
					background-color: $background-color_3;
				}
			}
		}
	}
	#gallery {
		.container {
			.row {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
				gap: 20px;
			}
		}
	}
}
@media (max-width: 768px) {
	#hero {
		.hero-content {
			.carousel {
				.carousel-inner {
					.carousel-item {
						.carousel-caption {
							h1 {
								top: -400px;
								left: -45px;
							}
							p {
								top: -90px;
								padding-left: 2rem;
							}
							button {
								position: absolute;
								left: -45px;
								bottom: 6rem;
							}
						}
					}
					hr {
						display: none;
					}
				}
			}
		}
	}
	#gallery {
		padding: 4rem 2%;
		.container {
			.row {
				padding: 0 8%;
				grid-template-columns: 1fr;
			}
		}
	}
	#text {
		padding: 4rem 2%;
	}
	#testimonials {
		padding: 2%;
	}
	#about {
		.row {
			display: block;
			padding: 2rem;
		}
	}
}
@media (max-width: 450px) {
	html {
		font-size: 75%;
	}
	#hero {
		.hero-content {
			.carousel {
				.carousel-inner {
					.carousel-item {
						.carousel-caption {
							p {
								top: -200px;
							}
						}
					}
				}
			}
		}
	}
	.footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
